<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPABASE_URL</key>
    <string>https://gdvtatkfgpakhfsnsawp.supabase.co</string>
    <key>SUPABASE_API_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkdnRhdGtmZ3Bha2hmc25zYXdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY1NDkxMTksImV4cCI6MjA1MjEyNTExOX0.2zVlMQ4ZTG8SMsmYuEA37GWdBLcKcB83xFI24bmnlzc</string>
</dict>
</plist> 